.rules-modale{
    background-color: rgba(21, 53, 51, 0.9);;
    padding: 1rem;
    color: white;
    font-weight: 100;
}

.rules-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
}